---
permalink: /_headers
layout: null
eleventyExcludeFromCollections: true
---
{% for post in collections.allPosts %}
{{ post.url }}
  Link: <{{ meta.url }}{{ post.url }}metadata.json>; rel="describedby"; type="application/ld+json"; profile="https://schema.org/"
  Link: <{{ meta.url }}{{ post.url }}>; rel="cite-as"
  Link: <https://schema.org/BlogPosting>; rel="type"
{{ post.url }}metadata.json
  Content-Type: application/ld+json
{% endfor %}
